<h3> About E.M.L</h3>
<div class= 'container'>

    <div class='row'>
        <div class="col-md-6 col-md-offset-3">
            <h1> A message from the creators:</h1>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <p>
                Electronic Music Lessons was started by three enterprising students in the General Assembly program.
                This site is a labor of love, combining their interest in music, community and free learning.
            </p>
        </div>
     </div>

</div>