<h3> Contact</h3>
<div class= 'container'>

    <div class='row'>
        <div class="col-md-6 col-md-offset-3">
            <h1> How to contact:</h1>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias minus vel incidunt? Omnis facere quod quibusdam dolore harum quos libero rerum veritatis incidunt, repudiandae in nesciunt soluta, saepe nulla aliquam!
            </p>
        </div>
     </div>

</div>