      <div class="row">
        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <img src="http://www.dvorak.org/blog/wp-content/uploads/2012/02/SoundWave.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Start</a>
              <a href='#'>Like</a>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <img src="http://91ef69bade70f992a001-b6054e05bb416c4c4b6f3b0ef3e0f71d.r93.cf3.rackcdn.com/digital-music-beats-background-shows-music-soundtrack-or-sound-p-100278601.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Start</a>
              <a href='#'>Like</a>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSd2JvCcxLyyhVlmflfqAu8pN4dMMb0aBGp1I9vreVMoiMCYOmF">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Start</a>
              <a href='#'>Like</a>
            </div>
          </div>
        </div>                
      </div>
