      
<div class="row" ng-controller="TutorialsController as app">
  <div class="container" ng-repeat="tutorial in app.tutorials">
    <div class="col s4">
      <div class="card medium">
        <div class="card-image">
       

          <%=image_tag('audio_1.jpg')%>
         
          <%=image_tag('drum_1.jpg')%>
        
          <span id="tutorial-name" class="card-title">{{tutorial.name}}</span>
        </div>
        <div class="card-content">
          <p>{{tutorial.description}}</p>
        </div>
        <div class="card-action">
          <a href="#">Start</a>
          <a href='#'>Like</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-content-add"></i></a>
</div>  
