<h3> This is the user show/profile page</h3>
<div class="container">

<!-- Page Layout here -->
    <div class="row">

      <div class="col s3">
        <!-- Grey navigation panel -->
      </div>

      <div class="col s9">
        <div>
            <a class="waves-effect waves-light btn">Create a Lesson</a>
        </div>
        <!-- Teal page content  -->
      </div>

    </div>








</div>