<div class="container">
  <h3>{{lesson.tutorial.name}}</h3>
  <h5>{{lesson.tutorial.category}}</h5>
  <ul class="collapsible" data-collapsible="accordion">
      <li ng-repeat="lesson in lesson.lessons">
        <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>{{lesson.name}}</div>
        <div class="collapsible-body">
          <p>{{lesson.body}}</p>
          <div class="col l6 m6 s12">
            <div class="responsive-img center">              
              <img ng-src="{{lesson.picture}}">
            </div>
          </div>          
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="mdi-maps-place"></i>Youtube video lesson</div>
        <div class="collapsible-body center">
          <iframe height="550" width="800" ng-src="{{trustSrc(movie.src)}}"></iframe>
        </div>
    </li>
      <li>
        <div class="collapsible-header"><i class="mdi-image-straighten"></i>Digital Keyboard</div>
        <div class="collapsible-body center">
          <div class="row"></div>
          <div class="row">
          <div class="container">
            <div class="center" ng-keydown="lesson.tester($event)" tabindex="1">
                <div class="keyboard center" ng-repeat="keyboard in lesson.keyboard">
                  <div class="key" ng-click="keyboard.play()">{{keyboard.key}}</div>
                </div>
            </div>  
          </div>            
          </div>

        </div>
    </li>    
    </ul>  
</div>
 